<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Soutupörssi</h1>
  <h2>Muokkaa ilmoitusta</h2>
  <p>{{ message }}</p>
  <form action="/edit_team/{{ team.id }}" method="post">
    <p>
      Soutumatka ja -sarja: <br />
      <select name="serie_id" required>
        <option value=1>Elämysreitti 15 km, Pe 10.7.2026</option>
        <option value=2>Elämysreitti 15 km, La 11.7.2026</option>
        <option value=3>Elämysreitti 25 km, Pe 10.7.2026</option>
        <option value=4>Elämysreitti 25 km, La 11.7.2026</option>
        <option value=5>Elämysreitti 35 km, La 11.7.2026</option>
        <option value=6>Retkisoutu 70 km, 1. lähtö, To 09.7.2026</option>
        <option value=7>Retkisoutu 70 km, 2. lähtö, La 11.7.2026</option>
        <option value=8>Kuningasmatka 60km, Iltasoutu, Pe 10.7.2026</option>
        <option value=9>Kuningasmatka 60km, Päiväsoutu, La 11.7.2026</option>
      </select>
    </p>
    <p>
      Joukkue: <br />
      <input type="text" name="team_name" value="{{ team.name }}" required maxlength="50"/>
    </p>
    <p>
      Joukkueen kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="480">{{ team.description }}</textarea>
    </p>
    </p>
      Veneen koko (*): <br />
      <select name="boat_size" required>
        <option value=15>14 soutajaa + perämies</option>
        <option value=11>10 soutajaa + perämies</option>
        <option value=9>8 soutajaa + perämies</option>
      </select>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
        <select name="{{ class }}">
          <option value="">(Ei määritetty)</option>
          {% for option in classes[class] %}
          {% if team.classes and team.classes.get(class) == option %}
          <option value="{{ option }}" selected>{{ option }}</option>
          {% else %}
          <option value="{{ option }}">{{ option }}</option>
          {% endif %}
          {% endfor %}     
        </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä ilmoitus" />
    <input type="submit" name="cancel" value="Peruuta" /> 
  </form>
  <a href="/">Takaisin etusivulle</a>
</body>

</html>