<!DOCTYPE html>
<html>

<head>
  <title>Soutupörssi</title>
</head>

<body>
  <h1>Soutupörssi</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/create_team">Kokoa joukkue</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
  {% endif %}
  <h2>Joukkueet</h2>
  <ul>
    {% for team in teams %}
    <li><a href="/team/{{ team.id }}">{{ team.name }}</a> sarjassa {{ team.description }}</li>
    {% endfor %}
  </ul>
  {% if not teams %}
  <p>Ei vielä yhtään joukkuetta.</p>
  {% endif %}
</body>

</html>
