{% extends "layout.html" %}

{% block content %}
<h2>Kirjautuminen</h2>
{% if session.username %}
<p>
  Olet kirjautunut nimellä {{ session.username }}
</p>
<p>
  <a href="/logout">Kirjaudu ulos</a>
</p>
{% else %}
<form action="/login" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" value="{{ username }}" />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" value="{{ password }}" />
  </p>
  <input type="submit" value="Kirjaudu" />
  <input type="submit" name="cancel" value="Peruuta" /> 
</form>
<p>
  Eikö sinulla ole tunnusta? Voit luoda sen <a href="/register">tästä</a>.
</p>
{% endif %}
{% endblock %}
