<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  <h1>Soutupörssi</h1>
  <p>{{ message }}</p>
  {% if message != "Tunnus luotu" %}
  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required minlength="2" maxlength="20"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" required maxlength="20"/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2"/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  <a href="/">Palaa etusivulle</a>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a> tai <a href="/">palaa etusivulle</a>.
  </p>
  {% endif %}
</body>

</html>