<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>
  <h1>Soutupörssi</h1>
  <p>{{ message }}</p>
  {% if message != "Tunnus luotu" %}
  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  {% else %}
  <p>
    Kirjaudu sisään <a href="/login">täältä</a>.
  </p>
  {% endif %}
</body>

</html>