<!DOCTYPE html>
<html>

<head>
  <title>{{team.name}}</title>
</head>

<body>
  <h1>{{ team.name }}</h1>
  <p><i>{{ team.serie_description }}</i></p>
  <p>{{ team.description }}</p>
  <p>Veneen kapasiteetti: {{ team.boat_capacity }}</p>
  {% if team.classes %}
  <p>Luokat:</p>
  <ul>
  {% for title in team.classes %}
    <li>{{ title }}: {{ team.classes[title] }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <p>Kapteeni: <a href="/user/{{ team.captain_id }}">{{ team.captain }}</a></p>
  <br>
  {% if session.user_id == team.captain_id %}
  <a href="/edit_team/{{ team.id }}">Muokkaa</a>
  <a href="/remove_team/{{ team.id }}">Poista</a>
  {% elif session.user_id %}
  <a href="/join_team/{{ team.id }}">Liity joukkueeseen</a><br>
  {% endif %}
  <a href="/">Takaisin etusivulle</a>
</body>

</html>