<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>{{team.name}}</title>
</head>

<body>
  <h1>Soutupörssi</h1>
  <h2>{{ team.name }}</h2>
  <p>{{ team.serie_description }}</p>
  <p>{{ team.description }}</p>
  {% if team.classes %}
  <p>Luokat:</p>
  <ul>
  {% for title in team.classes %}
    <li>{{ title }}: {{ team.classes[title] }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <p>Miehistö:</p>
  <ul>
    <li><a href="/user/{{ team.captain_id }}">{{ team.captain }}</a> (C)</li>
    {% for user_id, username in team.crew_list %}
    <li><a href="/user/{{ user_id }}">{{ username }}</a></li>
    {% endfor %}
  </ul>
  <br>
  {% if session.user_id == team.captain_id %}
  <a href="/edit_team/{{ team.id }}">Muokkaa</a>
  <a href="/remove_team/{{ team.id }}">Poista</a>
  {% elif session.user_id and not team.is_user_in_serie and not team.is_full %}
  <a href="/join_team/{{ team.id }}">Liity joukkueeseen</a><br>
  {% else %}
  {% if team.is_full %}
  <p>Joukkue on täynnä</p>
  {% elif not session.user_id %}
  <p>Kirjaudu sisään liittyäksesi joukkueeseen</p>
  {% elif team.is_user_in_serie and not team.is_user_member %}
  <p>Et voi liittyä joukkueeseen, sillä soudat jo toisessa joukkueessa tässä
     sarjassa</p>
  {% endif %}
  {% if team.is_user_member %}
  <a href="/leave_team/{{ team.id }}">Poistu joukkueesta</a><br>
  {% endif %}
  {% endif %}
  <a href="/">Takaisin etusivulle</a>
</body>

</html>